h1 {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
    }
    
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    }

body {
        text-align: center;
        margin: 0;
        }

a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    margin: 0 20px 0 20px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}   
a:hover {
    border-color: white;
}

h2 {
    font-family: "Raleway" , sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

header {
    background-color: #f15b31;
    color: #FFFFFF;
    padding: 30px 20px 30px 20px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px 0 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
    
}
.copyright {
    float: left;
    font-family: "Raleway" , sans-serif;
}

.message {
    float: right;
    font-family: "Raleway" , sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.name {
    color: #F15B31;
    font-weight: 700;
}
